<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <title>Examen Parcial-Riovaldo</title>
</head>
<body>
    <div id="examen" class="container">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>NOMBRE</th><th>DATOS DE ENTRADA</th>
                    <th>AREA</th><th>VOLUMEN</th>
                </tr>
            </thead>
            <tbody class="table-bordered">
                <tr>
                    <td>Cubo o Hexaedro</td>
                    <td>
                        introduce el valor de <hr>
                        a : <input type="text" v-model="a_cubo"> 
                        <input type="button" value="Calcular" @click="cubo()">
                    </td>
                    <td><h4>{{areaCubo}}</h4></td>
                    <td><h4>{{volumenCubo}}</h4></td>
                </tr>
                <tr>
                    <td>Paralelepipedo o Ortoedro</td>
                    <td>
                        <p>Introduce el valor de <br>
                        a(ancho), b(longitud), c(altura)</p><hr>
                        a = <input type="text" v-model="a_para"><br>
                        b = <input type="text" v-model="b_para"><br>
                        c = <input type="text" v-model="c_para">
                        <input type="button" value="Calcular" @click="para()">
                    </td>
                    <td><h4>{{areaParalelepipedo}}</h4></td>
                    <td><h4>{{volumenParalelepipedo}}</h4></td>
                </tr>
                <tr>
                    <td>Piramide</td>
                    <td></td>
                    <td><h4></h4></td>
                    <td><h4></h4></td>
                </tr>
                <tr>
                    <td>Cilindro</td>
                    <td>
                        <p>Introduce el valor de <br>
                        r(radio) y h(altura)</p><hr>
                        r = <input type="text" v-model="r_cili"><br>
                        h = <input type="text" v-model="h_cili">
                        <input type="button" value="Calcular" @click="cilindro()">
                    </td>
                    <td><h4>{{areaCilindro}}</h4></td>
                    <td><h4>{{volumenCilindro}}</h4></td>
                </tr>
                <tr>
                    <td>Cono</td>
                    <td>
                        <p>Introduce el valor de <br>
                        r(radio), h(altura) y g(grados)</p><hr>
                        r = <input type="text" v-model="r_cono"><br>
                        h = <input type="text" v_model="h_cono"><br>
                        g = <input type="text" v-model="g_cono">
                        <input type="button" value="Calcular" @click="cono()">
                    </td>
                    <td><h4>{{areaCono}}</h4></td>
                    <td><h4>{{volumenCono}}</h4></td>
                </tr>
                <tr>
                    <td>Esfera</td>
                    <td>
                        introduce el valor del R(radio) <hr>
                        R = <input type="text" v-model="r_esfera"><input type="button" value="Calcular" @click="esfera()">
                    </td>
                    <td><h4>{{areaEsfera}}</h4></td>
                    <td><h4>{{volumenEsfera}}</h4></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        new Vue({
            el:"#examen",
            data:{
                areaCubo:"",
                volumenCubo:"",
                areaParalelepipedo:"",
                volumenParalelepipedo:"",
                areaCilindro:"",
                volumenCilindro:"",
                areaCono:"",
                volumenCono:"",
                areaEsfera:"",
                volumenEsfera:"",
                a_cubo:"",
                a_para:"",
                b_para:"",
                c_para:"",
                r_cili:"",
                h_cili:"",
                r_cono:"",
                h_cono:"",
                g_cono:"",
                r_esfera:"",
            },
            methods:{
                cubo:function(){
                    this.areaCubo=6*(Number(this.a_cubo)*Number(this.a_cubo));
                    this.volumenCubo=(Number(this.a_cubo)*Number(this.a_cubo)*Number(this.a_cubo));
                },
                para:function(){
                    this.areaCubo=(6*Math.pow(this.a_cubo),2);
                },
                cilindro:function(){
                    this.areaCubo=(6*Math.pow(this.a_cubo),2);
                },
                cono:function(){
                    this.areaCubo=(6*Math.pow(this.a_cubo),2);
                },
                esfera:function(){
                    this.areaCubo=(6*Math.pow(this.a_cubo),2);
                },
            }
        });
    </script>
</body>
</html>